.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Launch-div {
  cursor: pointer;
}

.Launch-info {
  cursor: text;
  font-size: large;
  float: both;
}

.Launch-date-picker {
  float: left;
}

.Launch-search {
  float: right;
}

.fade.in {
  opacity: 1;
}